.StartQuiz{
    height: 100%;
    overflow: auto;
}

.Form{
    width: 650px;
    background-color: rgb(200, 200, 200);
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    $radius_amount: 7px;
    border-radius: $radius_amount;
    .Input{
        flex-grow: 1;
        border-top-left-radius: $radius_amount;
        border-bottom-left-radius: $radius_amount;
        outline: none;
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
    }
    .Button {
        padding: 15px;
        background-color: black;
        border-top-right-radius: $radius_amount;
        border-bottom-right-radius: $radius_amount;
        cursor: pointer;
        color: white;
    }
}