.Question {
    background-color: aliceblue;
    width: 650px;
    color: black;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 25px;

    .Index{
        position: absolute;
        left: 5px;
        top: 5px;
        $size: 40px;
        width: $size;
        height: $size;
        background-color: rgb(200, 200, 200);
        border-radius: 50%;
        .IndexValue{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: bold;
        }
    }
    .Content{
        padding-left: 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .Options{
        .Option{
            width: 100%;
            background-color: rgb(220, 220, 220);
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 10px;
            cursor: pointer;
            transition-duration: 300ms;
            &:hover{
                background-color: darken(rgba(220, 220, 220, 0.674), 40%);
            }
        }
        .OptionCorrect {
            background-color: greenyellow;
            &:hover{
                background-color: darken(greenyellow, 20%);
            }
        }
        .OptionWrong {
            background-color: rgb(216, 65, 65);
            &:hover{
                background-color: darken(rgb(216, 65, 65), 20%);
            }
        }
    }
}